html {
  background-color: seashell;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li,
nav ul li a {
  list-style: none;
  font-size: 32px;
  text-decoration: none;
  color: darkslategray;
}

a:hover {
  color: cadetblue;
}

h1 {
  text-align: center;
}
dl {
  padding-left: 10px;
}
dt {
  font-weight: 600;
}
p:has(+ dl) {
  margin-bottom: 0;
}
p + dl {
  margin-top: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
